/*   cgcf */
h1{
    color:black;
    background-color:brown;
}
p{
    color: black;
    font-size: 18px;
    background-color:white;
    font-weight: bold;
    text-align: justify;
    border: 2px solid grey;
    padding: 10px;
    box-shadow: spx 10px lightslategray;
}
     #first, #firstp{
         color: brown;
         background-color:white;
     }
     .chrome{
         color:darkgoldenrod;
      background-color: aliceblue; 
     }
     div{
         width:50%;
         height:200px;
         border: 2px solid brown;
     }
     div:hover{
    border-radius: 35px ;
     }

    /* div:hover{
         height: 100%;
         background-color: azure;
       font-size:19px
    }*/
     img{

         width:300px;
         right: 400px;
         float:left;
         opacity:0.7 ;
         border:8px solid black; 
         
        
     }
     img:hover{
         opacity:0.4 ;
         border:1px solid white;
          
     }
    .imgleft{
        width: 300px; 
        height:200px ;
        border:8px solid black;
        float: left; 
        padding-right: 10px;
        opacity: 0.4;
    }
     a{
         color: brown;
     }
     a:hover{
         color: black;
     }
      #header{
         width: 100%;
         height: 200px;
         border-bottom: 8px solid gray;
         background-image:url(th.jpg);
         background-size: 100% 200px;
         background-repeat: no-repeat;




}

